
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5%;
}

/* Left Side */
.hero-left {
  max-width: 50%;
}

/* Right Side with background */
.hero-right {
  flex: 1;
  background: url("/src/assets/image/rhamely-StQSCUWEYOs-unsplash.jpg") no-repeat center;
  background-size: contain; /* or 'cover' depending on your image */
  height: 500px; /* adjust as needed */
  position: relative;
}
