.navbar {
  background-color: #ffcc00;
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: #333;
  text-decoration: none;
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-links a:hover {
  color: #e63946;
}

.logout-btn {
  padding: 5px 10px;
  border: none;
  background-color: #e63946;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #cc2e3b;
}
